name: Build images
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TAG_NAME: 3.4.8-alpine

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        if: github.ref == 'refs/heads/main'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push BUILDER image
        uses: docker/build-push-action@v6
        with:
          context: '{{defaultContext}}:builder'
          platforms: linux/amd64,linux/arm64
          provenance: false
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/rails-base-builder:${{ env.TAG_NAME }}
            ghcr.io/${{ github.repository_owner }}/rails-base-builder:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push FINAL image
        uses: docker/build-push-action@v6
        with:
          context: '{{defaultContext}}:final'
          platforms: linux/amd64,linux/arm64
          provenance: false
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/rails-base-final:${{ env.TAG_NAME }}
            ghcr.io/${{ github.repository_owner }}/rails-base-final:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
